*{
    box-sizing: border-box;
}

body{
    margin:0;
    width: 100vw;
    height: 100vh;
    background: #EFEFEF;
}
#root{
    height: 100%;
    width: 100%;
}


.container {
    width: 100%;
}

.tfContainer{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
}
.clientContainer{
    width: 100%;
    height: 75%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tf {
    color: white;
    font-family: 'Stylish';
    font-size: 14vmin;
    border-radius: 200px;
    background-color: #053E66;
    height: 90%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.tfLogo { 
   width: 30%;
   margin: 2%;
}
.border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 37.5%;
    margin-top: 25%;
}

#customer {
    background-color: #053E66;
}

#restaurant {
    border-style: groove;
    border-color: #577d9c;
    color: #577d9c;
}

.client {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    height:20%;
    width: 80%;
    font-size: 10vmin;
    color: white;
    font-family: 'Roboto';
    box-shadow: 2px 6px 12px darkgrey;
}