*{
    box-sizing: border-box;
}

body{
    margin:0;
    width: 100vw;
    height: 100vh;
}

#root{
    height: 100%;
    width: 100%;
}

.landingPageContainer{
    width: 100%;
    height: 100%;
    background-color: #3C4452;
}

.logoContainer{
    width: 100%;
    height: 44%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logoContainer img{
    width: 75%;
}

.titleContainer{
    width: 100%;
    height: 11%;
}

.title {
    color: white;
    font-size: 12vmin;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-family: 'Julius Sans One', sans-serif;*/
    /*font-family: 'Amatic SC', cursive;*/
    /*font-family: 'Cabin Sketch', cursive;*/
    font-family: 'Special Elite', cursive;
}

.buttonsContainer{
    width: 100%;
    height: 40%;
    display: flex;
}

.buttonsBox{
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: flex-end;
 }

#restaurants-button{
    background-color: #EE6C4D;
    width: 45%;
}

#guests-button{
    background-color: #98C1D9;
    width: 45%;
}

.guests {
    text-align: center;
    height:100%;
    width: 100%;
    color: white;
}

.restaurants{
    text-align: center;
    height:100%;
    width: 100%;
    color: white;
}

.bottomSpacer{
    width: 100%;
    height: 5%;
}

.hideSpinner {
    display: none; 
}

.spinner {
    /* margin: 100px auto 0;
    width: 70px; */
    text-align: center;
  }
  
  .spinner > div {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  .headContainer {
      width: 100%; 
      height: 120px;
      position: relative;
      background-color: #d5e1e9;
  }

.divLogo {
    width: 280px;
    position: absolute;
    margin-top: -12px;
    margin-left: 20px;
}

.divLogo > img {
    width: 50%;
}

.navigationHeader {
    /* width: 100%;
    height: 50%; */
    background-color: #3C4452;
}

.detailContainer {
    width: 100%;
    /* height: 60%; */
    display: flex;
}

.guestRestButton {
    background-color: #d5e1e9;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav-wrapper {
    /* line-height: 86px; */
}

.appInfo {
    width: 50%;
    height: 100%;

}

.appTitle {
    height: 15%;
    font-size: 50px; 
    font-family: 'Special Elite', cursive;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appDetailsCont {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center; 
    flex-wrap: wrap;
}

.appDetails {
    width: 80%;
    font-size: 2vmin; 
    /* font-family: 'Amatic SC', cursive; */
}

.appImg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appImg > img {
    width: 290px;
    height: 355px;

}

.video > iframe { 
    width: 500px; 
    height: 281px;
}

.startCont {
    background-color: #d5e1e9;
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 4vmin;
    font-family: 'Special Elite', cursive;
       /*font-family: 'Julius Sans One', sans-serif;*/
    /*font-family: 'Amatic SC', cursive;*/
    /* font-family: 'Cabin Sketch', cursive; */
}



.btn-large {
    padding: 0;
}

@media (min-width: 1281px  ) {
    .appImg > img {
        width: 365px;
        height: 430px;
    }
}

@media (min-width: 1025px) and (max-width:1280px ) {
    .appInfo {
        width: 50%;
        height: 100%;
    
    }
    .appImg {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .appImg > img {
        width: 290px;
        height: 355px;
    
    }
    
    .video > iframe { 
        width: 500px; 
        height: 281px;
    }
}

@media (min-width: 545px) and (max-width: 1024px) {
   
    .appImg {
        display: none;
    }
    .appInfo {
        width: 100%;
    }
    .appDetails {
        width: 80%;
        font-size: 3vmin;
    }
}
@media (min-width: 545px) {
    .landingPageContainer {
        background-color: #d5e1e9;
        /* overflow: hidden; */
    }
    .buttonsBox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        margin-right: 2%;
    }
}   


/* iPhone 4 Landscape----------- */
@media only screen and (device-width : 480px) and (device-height : 320px) and (orientation : landscape){

    .landingPageContainer {
        display: flex;
        flex-direction: column;
    }
    .logoContainer img {
        width: 32%;
    }
    .buttonsContainer {
        height: 30%;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
        font-size: 3vmin;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        font-size: 3vmin;
    }
}


/* iPhone 5 Portrait */
@media only screen and (device-height : 568px) and (device-width : 320px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    
}

/* iPhone 5 Landscape----------- */
@media only screen and (device-width: 568px) and (device-height: 320px) and (orientation : landscape){
    .landingPageContainer {
        display: flex;
        flex-direction: column;
    }
    .buttonsContainer {
        height: 30%;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
        font-size: 3vmin;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        font-size: 3vmin;
    }

    .divLogo > img {
        width: 45%; 
    }
    .appTitle {
        height: 25%;
        font-size: 30px;
    }
    .headContainer {
        height: auto;
    }
    .video {
        width: 45%; 
    }
    .video > iframe {
        width: 245px;
        height: 130px;
    }
    .appDetails {
        width: 50%;
        font-size: 3vmin;
        display: flex;
        align-items: center;
        height: 80%;
    }
    .buttonsBox {
        height: 65%; 
    }
}

/* iPhone 6/7/8 Portrait */
@media only screen and (device-height : 667px) and (device-width : 375px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  
}

/* iPhone 6/7/8 Landscape */
@media only screen and (device-width: 667px) and (device-height: 375px) and (orientation : landscape){
    .landingPageContainer {
        display: flex;
        flex-direction: column;
    }
    .buttonsContainer {
        height: 30%;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
        font-size: 3vmin;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        font-size: 3vmin;
    }

    .divLogo > img {
        width: 45%; 
    }
    .appTitle {
        height: 25%;
        font-size: 30px;
    }
    .headContainer {
        height: auto;
    }
    .video {
        width: 45%; 
    }
    .video > iframe {
        width: 245px;
        height: 130px;
    }
    .appDetails {
        width: 50%;
        font-size: 3vmin;
        display: flex;
        align-items: center;
        height: 80%;
    }
    .buttonsBox {
        height: 65%; 
    }
    
}

/* iPhone 6+, 7+, 8+ Portrait ----------- */
@media only screen and (device-width: 414px) and (device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    
}

/* iPhone 6+/7+/8+ Landscape */
@media only screen and (device-width: 736px) and (device-height: 414px) and (orientation : landscape){
    .landingPageContainer {
        display: flex;
        flex-direction: column;
    }
    .buttonsContainer {
        height: 30%;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
        font-size: 3vmin;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        font-size: 3vmin;
    }

    .divLogo > img {
        width: 45%; 
    }
    .appTitle {
        height: 25%;
        font-size: 30px;
    }
    .headContainer {
        height: auto;
    }
    .video {
        width: 45%; 
    }
    .video > iframe {
        width: 280px;
        height: 155px;
    }
    .appDetails {
        width: 50%;
        font-size: 3vmin;
        display: flex;
        align-items: center;
        height: 80%;
    }
    .buttonsBox {
        height: 65%; 
    }
}
/* iPhone X Portrait */
@media only screen and (device-width: 375px) and (device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    
}
/* iPhone X Landscape */
@media only screen and (device-width: 812px) and (device-height: 375px) and (orientation : landscape){
    .landingPageContainer {
        display: flex;
        flex-direction: column;
    }
    .buttonsContainer {
        height: 30%;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
        font-size: 3vmin;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        font-size: 3vmin;
    }

    .divLogo > img {
        width: 45%; 
    }
    .appTitle {
        height: 25%;
        font-size: 30px;
    }
    .headContainer {
        height: auto;
    }
    .video {
        width: 45%; 
    }
    .video > iframe {
        width: 245px;
        height: 130px;
    }
    .appDetails {
        width: 50%;
        font-size: 3vmin;
        display: flex;
        align-items: center;
        height: 80%;
    }
    .buttonsBox {
        height: 65%; 
    }
}

/* iPad Portrait ----------- */
@media only screen and (device-width : 768px) and (device-height : 1024px) and (orientation : portrait) {

}


/* iPad Landscape */
@media only screen and (device-width: 1024px) and (device-height: 768px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    
}

/* iPad Pro Portrait----------- */
@media only screen and (device-height : 1366px) and (device-width : 1024px) and (orientation : portrait) {
    
}

/* iPad Pro Landscape----------- */
@media only screen and (device-height : 1024px) and (device-width : 1366px) and (orientation : landscape) {
   
}

/* Pixel 2 Portrait*/
@media only screen and (device-width: 411px) and (device-height: 731px) and (orientation : portrait) {

}

/* Pixel 2 Landscape*/
@media only screen and (device-width: 731px) and (device-height: 411px) and (orientation : landscape) {
    .landingPageContainer {
        display: flex;
        flex-direction: column;
    }
    .buttonsContainer {
        height: 30%;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
        font-size: 3vmin;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        font-size: 3vmin;
    }

    .divLogo > img {
        width: 45%; 
    }
    .appTitle {
        height: 25%;
        font-size: 30px;
    }
    .headContainer {
        height: auto;
    }
    .video {
        width: 45%; 
    }
    .video > iframe {
        width: 245px;
        height: 130px;
    }
    .appDetails {
        width: 50%;
        font-size: 3vmin;
        display: flex;
        align-items: center;
        height: 80%;
    }
    .buttonsBox {
        height: 65%; 
    }
}

/* Pixel 2 XL Portrait*/
@media only screen and (device-width: 411px) and (device-height: 823px) and (orientation : portrait) {
    
}

/* Pixel 2 XL Landscape*/
@media only screen and (device-width: 823px) and (device-height: 411px) and (orientation : landscape) {
    .landingPageContainer {
        display: flex;
        flex-direction: column;
    }
    .buttonsContainer {
        height: 30%;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
        font-size: 3vmin;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        font-size: 3vmin;
    }

    .divLogo > img {
        width: 45%; 
    }
    .appTitle {
        height: 25%;
        font-size: 30px;
    }
    .headContainer {
        height: auto;
    }
    .video {
        width: 45%; 
    }
    .video > iframe {
        width: 245px;
        height: 130px;
    }
    .appDetails {
        width: 50%;
        font-size: 3vmin;
        display: flex;
        align-items: center;
        height: 80%;
    }
    .buttonsBox {
        height: 65%; 
    }
}

/* Galaxy S5 Portrait */
@media only screen and (device-width: 360px) and (device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    
}

/* Galaxy S5 Landscape */
@media only screen and (device-width: 640px) and (device-height: 360px) and (orientation : landscape){
    .landingPageContainer {
        display: flex;
        flex-direction: column;
    }
    .buttonsContainer {
        height: 30%;
    }
    #guests-button {
        background-color: #98C1D9;
        width: 30%;
        font-size: 3vmin;
    }
    #restaurants-button {
        background-color: #EE6C4D;
        width: 30%;
        font-size: 3vmin;
    }

    .divLogo > img {
        width: 45%; 
    }
    .appTitle {
        height: 25%;
        font-size: 30px;
    }
    .headContainer {
        height: auto;
    }
    .video {
        width: 45%; 
    }
    .video > iframe {
        width: 245px;
        height: 130px;
    }
    .appDetails {
        width: 50%;
        font-size: 3vmin;
        display: flex;
        align-items: center;
        height: 80%;
    }
    .buttonsBox {
        height: 65%; 
    }
}