.listBottomContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.restaurantBubble {
    height: 50%;
    width: 100%;
    border: #3C4452 1px groove;
}

.headerTitle {
    font-size: 5vmin;
    font-weight: 625;
    text-align: center;
    height: 15%;
    width: 100%;
    overflow: hidden;
}

.bottomInfo {
    display: flex; 
    flex-wrap: wrap;
    height: 30%; 
    width: 100%; 
}

.bottomPicInfo {
    height: 55%; 
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.bottomPicInfo > img {
    width: 50%;
    border-right: 2px solid white; 
}

.timeInfo {
    width: 10%; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.timeInfo > img {
    width: 75%; 
}

.restaurantInfoContainer {
    width: 90%;
    height: 100%;
}

.restaurantInfo {
    width: 100%;
    height: 60%;
    display: flex; 
    font-size: 4vmin;
}

.starsDistanceInfo {
    width: 50%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.icons {
    width: 50%;
    height: 100%; 
    display: flex;
    align-items: flex-end;
}
.address {
    width: 100%; 
    height: 40%; 
    font-size: 4vmin;
    overflow: hidden;
}

.dollarSigns {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    font-size: 4vmin;
}

.addButton {
    width: 20%;
    display: flex;
    justify-content: center;
}

.addButton > img {
    width: 85%;
    height: 40%; 
}

.boldText {
    font-weight: 700;
    font-size: 3.5vmin;
}
.hidden {
    display: none
}