.container{
    overflow: auto;
}

.tableSizeTitle{
    text-align: center;
    font-size: 5vmin;
}
.tableInputBox {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: center;
    font-size: 10.5vmin;
    border: solid 1px black;
    border-radius: 15px;
}
/* .incrementButton{
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: top;
    position: relative;
} */

/* .incrementButton img{
    position: relative;
    width: 75%;
} */

/* .decrementButton{
    display: inline-block;
    width: 30%;
    height: 100%;
    position: relative;
} */

/* .decrementButton img{
    position: relative;
    width: 75%;
} */

.commentsContainer{
    margin: 0 10%;
    height: 20%;
}

.commentsBox{
    height: 100%;
    font-size: 5vmin;
    text-align: center;
}


/* 
 @media (min-width: 1025px) and (max-width: 1280px) {
    .tableSizeTitle {
        font-size: 5vmin;
    }
}

@media (min-width: 768px) {
    .tableSizeTitle {
        font-size: 6.5vmin;
    }
}

@media (min-width: 571px) and (max-width: 767px) {
    .tableSizeTitle {
        font-size: 5vmin;
    }
}  */