.delete {
    
        /* display: inline-block; */
        padding: 25px;
    
}



.TopContainer {
    width: 100%;
    height: 10%; 

}
.bottomContainer {
    width: 100%;
    height: 80%;
    overflow: scroll;
}
.name {
    font-size: 1.5rem;
}


.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}



.delete{
    padding-top: 10%;
    margin-left: 70%;
}